.contact-title{
    color: #710193;
    font-weight: 700;
}

button{
    background-color: $color-violeta;
    color: $color-amarillo-claro;
    border: 0ch;
    &:hover{
        color: $color-amarillo;
    }
}

.form-label{
    color: $color-violeta;
    font-weight: map-get($font-weights, medium );
}

.form-control{
    background-color: $color-violeta;
}

.form-text{
    color: $color-violeta;
}

.bigicon {
    font-size: 35px;
    color: $color-violeta;
}