header{
    position: sticky;
    top: 0;
    z-index: 1;
    .bi-list{
    color: $color-amarillo-claro;
    font-size: 2rem;
    }
    .nav-item{
        .nav-link{
            color:$color-violeta;
            &:hover{
                color: $color-amarillo-claro;
            }
        }
    }
}

