@import "variables";
@import "mixins";
@import "home";
@import "header";
@import "footer";
@import "contacto";
@import "review";
@import "quienessomos";
@import "noticias";



body{
    background-color: $color-amarillo;
    font-family: 'Bungee', cursive;
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    h1{
        color: $color-violeta;
        font-weight: map-get($font-weights,bold);
    }
    p{
        color: $color-violeta;
        font-weight: map-get($font-weights,medium);
    }
}
